<!-- <p>{{title}}</p> -->

<!-- <p *ngFor="let assigment of assigments">{{assigment.name}}</p> -->

<!-- <div *ngFor="let assigment of assigments"
[ngStyle]="{'color': assigment.submitted === false ?'red' : 'green '}"
> -->

<!-- <div *ngFor="let assigment of assigments"
[ngClass]="{'submitted': assigment.submitted === true,
'unsubmitted': assigment.submitted === false}"
> -->

<form ngForm #assigmentsForm class="form"> 
  <mat-form-field>
    <input matInput #assigmentName [(ngModel)]="name" name='name'>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" [(ngModel)]="dueDate" name='name' placeholder="when your assigment due?">
    <mat-datepicker-toggle>matSuffix [for]="picker"</mat-datepicker-toggle>
    <mat-datepicker>#picker</mat-datepicker>
  </mat-form-field>
  <button mat-stroked-button 
  [disabled] = "!enabled"
  (click)="onSubmit(assigmentName.value)"
  color="primary">Add Assigment</button>
</form>
<p>{{name}}</p>
<p>{{dueDate}}</p>
<!-- <div *ngFor="let assigment of assigments">
<p  appSubmitted *ngIf="assigment.submitted; else unsubmitted">
Assigment {{assigment.name}} has been submitted!
</p>

<ng-template #unsubmitted>Assigment {{assigment.name}} has not been submitted!!</ng-template>
</div> -->
